.rodape {
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}
.links{
    margin-left: 16px;
    display: flex;
    align-items: center;
    gap: 14px;
}